<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="esolutions.shopper" type="ESolutions.Shopper.Models.ShopperConfigurationReader, ESolutions.Shopper.Models" requirePermission="false" />
	</configSections>
	<esolutions.shopper>
		<ImageBaseUrl>http://www.mydomain.com/pictures/</ImageBaseUrl>
		<CurrentTaxRate>19</CurrentTaxRate>
		<ImportDaysBack>3</ImportDaysBack>
		<Locations>
			<InvoicePath>C:\Data\Invoices</InvoicePath>
			<ArticleImagePath>C:\Data\Pictures</ArticleImagePath>
			<SyncerApplicationExe>C:\SyncerApp\ESolutions.Shopper.Syncer.exe</SyncerApplicationExe>
		</Locations>
		<Email>
			<SmtpServerHostname>smtp.mailserver.com</SmtpServerHostname>
			<SmtpServerPort>587</SmtpServerPort>
			<SmtpAuthUser>info@mydomain.de</SmtpAuthUser>
			<SmtpAuthPassword>my_mail_password</SmtpAuthPassword>
			<EmailAddressOfOfferSender>info@mydomain.de</EmailAddressOfOfferSender>
		</Email>
		<Printing>
			<User>winuser</User>
			<Password>winpassword</Password>
		</Printing>
		<Ebay>
			<ApiServerUrl>https://api.ebay.com/wsapi</ApiServerUrl>
			<!--<ApiServerUrl>https://api.sandbox.ebay.com/wsapi</ApiServerUrl>-->
			<ApiToken>this_is_the_productive_ebay_api_token</ApiToken>
			<!--<ApiToken>this_is_the_sandbox_ebay_api_token</ApiToken>-->
		</Ebay>
		<Magento>
			<ShopRootUrl>http://shop.mydomain.com</ShopRootUrl>
			<User>admin</User>
			<Password>password</Password>
			<ConsumerKey>mage_consumer_key</ConsumerKey>
			<ConsumerSecret>mage_consumer_secret</ConsumerSecret>
		</Magento>
		<Mandantor>
			<Company>Company Inc.</Company>
			<WebUrl>www.shop.com</WebUrl>
			<Email>info@shop.com</Email>
			<Street>Street</Street>
			<StreetNr>123</StreetNr>
			<Zip>ZIP456</Zip>
			<City>City</City>
			<Phone>PHONE-1234</Phone>
			<Fax>FAX-1234</Fax>
			<DpdNr>DPD1</DpdNr>
			<CountryIso2>DE</CountryIso2>
			<CountryIso3>DEU</CountryIso3>
			<Tax>TAX1|TAX2</Tax>
			<Bank>BANK1|BANK2</Bank>
		</Mandantor>
	</esolutions.shopper>
	<connectionStrings>
		<add name="MyDataContext" connectionString="metadata=res://*/MyDataContext.csdl|res://*/MyDataContext.ssdl|res://*/MyDataContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=shopper;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v12.0" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.4.9.5" newVersion="1.4.9.5" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>